{% load static %}
<div class="bg-secondary shadow-md rounded-lg p-6 w-full max-w-2xl border-t-2 border-muted">
    <form id="league_season_form" method="get" hx-post="{% url 'mine_league_season_data' %}" hx-target="#league_season_form-response" hx-swap="innerHTML">
        {% csrf_token %}
        <div class="flex space-x-4">
            <div class="w-1/2">
                {% include 'shared/components/display/table.html' with id='season_table' headers=season_headers items=season_items form_field=form_field_season allow_multiple=allow_multiple %}
            </div>
            <div class="w-1/2">
                {% include 'shared/components/display/table.html' with id='league_table' headers=league_headers items=league_items form_field=form_field_league allow_multiple=allow_multiple %}
            </div>
        </div>
        {% include 'shared/components/forms/submit_button.html' with class='bg-primary text-secondary hover:text-primary hover:scale-105 transition-transform duration-300 flex items-center justify-center' label='Fetch Data' block_id='league_season_form' success_message_id='success-message' %}
        <div id="league_season_form-response"></div>
    </form>
</div> 