{% extends 'base/page.html' %}

{% block content %}
<form method="GET" action="/predict-fixtures" class="mb-4">
    {% include 'shared/components/forms/date_field.html' with id='start_date' name='start_date' label='Start Date' %}
    {% include 'shared/components/forms/date_field.html' with id='end_date' name='end_date' label='End Date' %}
    {% include 'shared/components/forms/dropdown.html' with id='model' name='model' options=models label='Select Model' %}
    {% include 'shared/components/forms/submit_button.html' %}
</form>
{% endblock %}