<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4">
    {% include 'shared/components/display/card_link.html' with link_url='latest_data' link_text='Download Latest Data' image_file='img/latest.jpg' %}
    {% include 'shared/components/display/card_link.html' with link_url='historical_data' link_text='Download Historical Data' image_file='img/download.jpg' %}
    {% include 'shared/components/display/card_link.html' with link_url='view_models' link_text='Predict Fixtures' image_file='img/predict.jpg'%}
</div>
